
// IMPORT FONT
@import url('https://fonts.googleapis.com/css?family=Raleway|Righteous&display=swap');

body
    overflow-x hidden
#app
    max-width 100vw
    margin 0 0 0 0
    font-family 'Raleway', sans-serif


// NAVBAR
.navbar
    .navbar-brand
        font-family 'Righteous', cursive

    #nav-collapse
        justify-content center

        .navbar-links
            width 50%
            justify-content space-around

    // DROPDOWN USER
    #dropdown-user
        width 20vw

        ul
            width inherit
    
    #user-links-collapsed
        display none



// CONTENT
#main-content
    display flex
    flex-direction column
    margin-bottom 10vw

    .content
        width 100vw
        flex 1
        display flex
        justify-content space-between

.div-content
    padding 40px

.table-content
    .b-table-sticky-header
        max-height 80vh

// WORKING TIME
#workingtime
    flex-grow 2 

.sub-header
    display flex
    flex-direction row
    justify-content space-around
    font-family 'Righteous', cursive
    
#workingtimes-table
    thead 
        th
            text-align center
    tbody
        tr
            text-align center



// CHARTS
#charts
    display flex
    flex-direction column

    .chart-group
        width 100vw
        display flex
        justify-content space-evenly
        flex-direction row

        .chart-view
            width 80vw
            svg
                width 100% !important
            
            .box-header
                display flex
                flex-direction row
                justify-content space-around
                font-family 'Righteous', cursive




// RESPONSIVE

// breakpoint for small device between 0 and 576px
@media (max-width: 767.98px)
    #user-links
        display none
    
    #user-links-collapsed
        display block !important
