
// IMPORT FONT
@import url('https://fonts.googleapis.com/css?family=Raleway|Righteous&display=swap');


#app
    margin 0 0 0 0
    font-family 'Raleway', sans-serif


// NAVBAR
.navbar
    .navbar-brand
        font-family 'Righteous', cursive