
// IMPORT FONT
@import url('https://fonts.googleapis.com/css?family=Raleway|Righteous&display=swap');


#app
    max-width 100vw
    margin 0 0 0 0
    font-family 'Raleway', sans-serif


// NAVBAR
.navbar
    .navbar-brand
        font-family 'Righteous', cursive

    // DROPDOWN USER
    #dropdown-user
        width 20vw

        ul
            width inherit



// CONTENT
#main-content
    display flex
    flex-direction column

    .content
        width 100vw
        flex 1
        display flex
        justify-content space-between

        .div-content
            padding 40px

// WORKING TIME
#workingtime
    flex-grow 2 

    .sub-header
        display flex
        flex-direction row
        justify-content space-around
        margin-bottom 10px
    
#workingtimes-table
    thead 
        th
            text-align center
    tbody
        tr
            text-align center



// CHARTS
#charts
    display flex
    flex-direction column

    .chart-group
        width 100vw
        display flex
        justify-content space-evenly
        flex-direction row